/* .aadhar::placeholder {
    text-align: center;
    justify-content: center;
    align-items: center;
    
} */

.regist {
   font-size: 25px;
   margin-top: 20px;
   margin-left: 43px;
   background-color: rgb(63, 179, 63);
     
}
